{% extends "base.html" %}

{% block title %}Золото - BLOODYMARKET{% endblock %}

{% block content %}
<h1>Золото WoW Classic</h1>
<p>Актуальные предложения:</p>

<table class="offers">
    <tr>
        <th>Сервер</th>
        <th>Кол-во золота</th>
        <th>Продавец</th>
        <th>Цена</th>
    </tr>
    <tr>
        <td>Firemaw (EU)</td>
        <td>1000g</td>
        <td>GoldMaster</td>
        <td>1500 ₽</td>
    </tr>
    <tr>
        <td>Gehennas (EU)</td>
        <td>2000g</td>
        <td>FastGold</td>
        <td>2800 ₽</td>
    </tr>
</table>
{% endblock %}
