{% extends "base.html" %}

{% block title %}Услуги - BLOODYMARKET{% endblock %}

{% block content %}
<h1>Услуги WoW Classic</h1>
<p>Помощь и буст:</p>

<table class="offers">
    <tr>
        <th>Услуга</th>
        <th>Описание</th>
        <th>Продавец</th>
        <th>Цена</th>
    </tr>
    <tr>
        <td>Прокачка персонажа</td>
        <td>С 1 до 60 уровня за 5 дней</td>
        <td>PowerLeveler</td>
        <td>5000 ₽</td>
    </tr>
    <tr>
        <td>Проведение в рейд</td>
        <td>MC / BWL / AQ40</td>
        <td>RaidLeader</td>
        <td>2000 ₽</td>
    </tr>
</table>
{% endblock %}
